# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
/.vs
!.vscode/settings.json
.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#spec files
*.spec.ts

.vscode
curso_api_netcore/src/Api.Aplication/obj/Debug/*
curso_api_netcore/src/Api.Aplication/obj/Debug/netcoreapp3.1/*
curso_api_netcore/src/Api.Aplication/obj/Debug/netcoreapp3.1/application.AssemblyInfoInputs.cache
curso_api_netcore/src/Api.Aplication/bin/Debug/netcoreapp3.1/*
curso_api_netcore/src/Api.Service/obj/Debug/netcoreapp3.1/*
curso_api_netcore/src/Api.Service/obj/Debug/netcoreapp3.1/*
curso_api_netcore/src/Api.CrossCutting/obj/Debug/netcoreapp3.1/*
curso_api_netcore/src/Api.Data/bin/Debug/netcoreapp3.1/*
curso_api_netcore/src/Api.Domain/bin/Debug/netcoreapp3.1/*
curso_api_netcore/src/Api.Data/obj/Debug/netcoreapp3.1/*
curso_api_netcore/src/Api.Domain/obj/Debug/netcoreapp3.1/*
curso_api_netcore/src/Api.Data/obj/project.nuget.cache
